<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<img src="/assets/forest.gif" class="coveredImage">
<body onload="startGame()">
</body>
        

<div class="container">
    <div class="text">
        <b> Welcome to my Javascript Playground! </b>
        <br><br>
        <b>Right Arrow (->)</b> to move right!<br>
        <b>Left Arrow (<-)</b> to move left! <br>
        <b>Up Arrow (^)</b> to jump!<br>
        <b>Down Arrow (v)</b> to stop/sit!<br>
        Hold down left or right arrow to accelerate!
        <br><br>
        The <b>Question Box</b> sends you to my personal site.
        <br>
        The <b>Linked-In Box</b> sends you to my Linked-In.
        <br>
        The <b>Github Box</b> sends you to my github!
        <br><br>
        Please allow popups to view my site links!
        <br><br>
        Questions? Email: DannyHwangCa@gmail.com
    </div>
</div>
</body>
</html>



